.menu {
  height: 70px;
  vertical-align: auto;
  background-color: #2b2b2b;
}

.menu-items {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.link,
.link:visited {
  color: white;
  text-decoration: none;
}

.active {
  font-weight: bold;
}
